<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="top-bar">
    <div class="list-top-left">
      <a class="a-link" href="/">Today</a>
      <a class="a-link" href="/Work">Work</a>
      <a class="a-link" href="/Home">Home</a>
      <form action="/customTask" method="post"> <input name="cusName" placeholder="Type a custom name"/><input type="submit" value="Go!"/></form>
    </div>
  </div>
